@charset "utf-8";

$baseColor: #f9f8f6;
$subColor: #887f69;
$subColor2: #e2ddd4;
$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

html {
  font-size:62.5%;
  background-color: $baseColor;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}




#header_in {
    padding-top: 35px;
    
    .row {
        margin-bottom: 20px;
    h1 {
        margin-bottom: 0px;
        @media (max-width: 415px) {
        text-align: center;
        }
    }
    
    #sp_navi {
        font-size: 0;
        line-height: 0;
        @media (min-width: 415px) {
            display: none;         
        }
        
        .sp_top {
            // display: flex;
            // flex-direction: row;
            // justify-content: center;
            list-style: none;
            margin-bottom: 0;
            text-align: center;
            
            .icon {
                margin: 6px;
                display: inline-block;
                top: 0;
                
                  .sp_menu{
                      position: absolute;
                      z-index: 100;
                      margin: 0;
                      display: none;
                      li {
                          text-align: left;
                          background-color: white;
                          padding: 1px;
                          margin-bottom: 2px;
                      }
                  }
            }
        }
    }
         

    #pc_navi {
        
         @media (max-width: 415px) {
                display: none;
            }
            
        ul {
            display: flex;
            flex-direction: row;
            float: right;
            list-style: none;
            margin-top: 28px; 
            margin-bottom: 0px;

            
            &::after {
                content:'';
                display: block;
                clear: both;
            }
            
            li {
                padding-left: 20px;
            }
        
        }     
    }
    }
}


// main

.flexible-images {
  max-width: 100%;
  height: auto;
}

div {
     .label_sp {
        text-align :center;
        padding: 16px;
        @media(min-width: 415px) {
            display: none;
        }
    }
    .label_pc {
        margin: 20px 0;
        @media(max-width: 415px) {
            display: none;
        }
    }
        
    .flex_wrap {
        display: flex;
        flex-wrap: wrap;
       
        .item_container {
            width: 49.0%;
            background-color: white;
            margin: 1px;
            
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            
            a {
               text-decoration: none;
               color: black;
            }
            
            @media (min-width: 415px) {
                width: 32.0%;
            }
            
            .inner {
                padding: 5%;
         
    
            p {
                @include fontsize(14);
                margin-bottom: 3px;
                
                span {
                    @include fontsize(19);
                }
            }
            }
        }
        
 
        .box {
            background-color: white;
            margin-bottom: 10px;
            width: 100%;
            
             -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            
            @media (min-width: 415px) {
                width: 49.3%;
                margin: 0 2px;
                margin-bottom: 90px;
            }
            
            .inner_box {
                padding: 15px;
            h2 {
                color: $subColor;
                @include fontsize(19);
                font-weight: bold;
                margin-bottom: 15px;
            }
            
            h3 {
                color: $subColor;
                @include fontsize(14);
                font-weight: bold;
                margin: 5px 0;
            }
            
            p {
                @include fontsize(14);
                margin: 5px 0 10px;
            }
        }
        }
    }
}




// main sidebar
#sidebar {
    
    .serch {
        background-color: white;
        height: 55px;
        padding: 18px;
        margin-bottom: 20px;
        
        @media (min-width: 415px) {
                margin-bottom: 10px;
            }
        
        img {
            padding-bottom: 10px;
            
        }
        
        
// search button
        #form2{
 position:relative;
}
#sbox2{
 height: 30px;
 padding: 0 10px;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 border-radius: 0;
 background-color: #e9e9e9;
 font-style: italic;
 outline: 0;
}
#sbtn2{
 height: 50px;
 position: absolute;
 right: 10px;
 top: 0;
 background:none;
 color:#666;
 border:none;
 font-size:20px;
 outline: 0;
 margin: 0;
 padding: 0;
 z-index: 999;
 
}
#sbtn5:hover{
color:#7fbfff;
}
        
        
// search button 
        
        
        
        
        
    }
    
    .page_link {
        background-color: $subColor;
        color: white;
        height: 45px;
        margin-bottom: 9px;
        a{
            text-decoration: none;
            color: white;
             .link_inner {
                padding: 12px 10px;

            p{
                display: inline;
                @include fontsize(15);
                font-weight: bold;
                
            }
            img {
                display: block;
                float: right;
                padding-right: 10px;
                padding-top: 7px;
                
                &::after {
                content:'';
                display: block;
                clear: both;
                }
            }
            }
        }
    }
    
    .categories_box {
          margin-bottom: 9px;
          #categories-logo {
              background-color: $subColor;
              height: 45px;
              .inner {
                padding: 12px 10px;
                  
              .arrow {
                display: block;
                float: right;
                padding-right: 10px;
                margin-top: 8px;
                
                &::after {
                content:'';
                display: block;
                clear: both;
                }
              }
              }
          } 
          // categories-logo
          
          
         .categories_navi { 
              display: none;
              li {
                    list-style: none;
                    height: 45px;
            
                  a {
                      display: block;
                      text-decoration: none;
            
                      background-color: white;
                  
                      @include fontsize(15);
                      padding: 17px 10px;
                      margin-bottom: 1px;
                      color: black;
            
                  p{
                      display:inline;
                  }
                  img {
                      display: block;
                      float: right;
                      padding-right: 10px;
                      padding-top: 2px;
                      
                      &::after {
                      content:'';
                      display: block;
                      clear: both;
                      }
                  }
                  }
                  }
              }
         }  
              
    
    .side_title {
        background-color: $subColor;
        height: 45px;
        padding-left: 10px;
        img {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
    
    .side_p_box_sp {
        display: flex;
        background-color: white;
        margin-bottom: 9px;
        
        @media (min-width: 415px) {
                display: none;
        }
        
        .inner1 {
            width: 45%;
            padding: 10px;
            padding-right: 5px;
        }
        .inner2 {
            width: 45%;
            padding: 10px;
            padding-left: 5px;
            p {
                @include fontsize(14);
            }
        }
    }
    
    .side_p_box {
        background-color: white;
        margin-bottom: 10px;
        
        @media (max-width: 415px) {
                display: none;
        }
        
        .inner {
            padding: 10px;
            padding-bottom: 2rem;
            @include fontsize(14);
            p {
                margin-bottom: 1.7rem;
            }
            .more {
                display: block;
                margin: 0px auto;
            }
        
        }
    }
}
// main sidebar

// main



// footer

#page_top {
    border-bottom: 1px black solid;
    a{
        display: block;
        text-align: center;
        padding: 20px 0px;                    
    
        @media (min-width: 415px) {
            text-align: right;
        }
    }
}


footer .container {
    
    .footer_box {
        width: 50%;
        margin: 35px auto 100px;
        
        @media (max-width: 415px) {
            width: 95%;
        }

        ul {
        list-style: none;
        text-align: center;
        
            li {
                display: inline-block;
                margin-bottom: 0;
                @include fontsize(14);
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
        
        p{
            @include fontsize(12);
            color: #b0b0b0;
            text-align: center;
        }
    }
}

// footer



// list & products ページ //

#pan {
    background-color: #e8e4da;
    padding: 10px;
    margin-bottom: 8px;
    .pan_font {
        list-style: none;
        @include fontsize(11);
        margin-bottom: 0; 
        li {
            display: inline;
            color: $subColor;
            a {
                text-decoration: none;
                color: $subColor;
            }
        }
    }
}


// listページ //

#back_next {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
        display: inline-block;
        background-color: $subColor;
        width: 20%;
        padding: 10px 0;
        text-align: center;
        color: white;
        font-weight: bold;
        @include fontsize(19);
        margin-bottom: 0;
        
        @media (max-width: 415px) {
            width: 35%;
        }
    }
        #next {
            margin-right: 2px;
        }
        
}



// productsページ  //

.products_outer {
    background-color: white;
    padding: 20px;
    
    @media (min-width: 415px) {
        padding: 60px;
    }
    
    .inner {
            
            h2 {
                @include fontsize(19);
                font-weight: bold;
                letter-spacing:0.3em;
                margin-bottom: 1rem;
            }
            p {
                @include fontsize(13);
                color: #b0b0b0;
                margin-bottom: 2rem;
            }
        
        
        @media (min-width: 415px) {
            #p_name {
                display: flex;
                justify-content: space-between;
                height: 50px;
                h2 {
                     @include fontsize(16);
                }
            }
        }
        
        
        // sp //
        #image_box {
            border-top: 1px solid $subColor2;
            border-bottom: 1px solid $subColor2;
            padding: 10px;
            #main {
                width: 100%;
            }
            .sub {
                display: block;
                // flex-wrap: wrap;
                // justify-content: space-around;
                width: 100%;
                img {
                    max-width: 19%;
                    height: auto;
                    margin-bottom: 0px;
                }
            }
        }
        
        
        // pc //
        @media (min-width: 415px) {
        #image_box {
            display: flex;
            padding: 20px 0;
            border-top: 1px solid $subColor2;
            border-bottom: 1px solid $subColor2;
            #main {
                width: 70%;
                margin-right: 8px;
            }
            .sub {
                
                // flex-wrap: wrap;
                // justify-content: space-around;
                width: 29.5%;
                img {
                    max-width:44.5%;
                    height: auto;
                    margin-bottom: 0;
                    }
            }
        }
        }
        
             
        
        #color_box {
            padding: 15px 0;
            p {
                
                margin-bottom: 15px;
            }
            
            table {
                @include fontsize(14);
                color: $subColor;
                width: 100%;
                td {
                    border: 1px solid $subColor2;
                    text-align: center;
                }
                .gray {
                    background-color: $baseColor;
                }
               
               
    // checkbox css //
               
               label.checkbox {
	                position      : relative;
	                cursor        : pointer;
	                display       : inline-block;
	                overflow      : hidden;
	                box-sizing    : border-box;
                    width      : 15px;
	                height     : 15px;
	                border     : 1px solid $subColor2;
	                background : #fff;
	                margin-bottom: 0;
                }


                label.checkbox:after {
	                content  : '';
	                position : absolute;
	                box-sizing : border-box;
                    top              : 0px;
	                bottom           : 0px;
	                left             : 0px;
	                right            : 0px;
	                margin           : auto;
  	                transform         : rotate(45deg);
	                -webkit-transform : rotate(45deg);
	                -moz-transform    : rotate(45deg);
	                border-right      : 2px solid $subColor;
	                border-bottom     : 2px solid $subColor;
	                top               : calc(50% - (((17px / 12 ) * 5) / 2));
	                display           : block;
	                margin-top        : calc(((17px / 12 ) * 5) * -1);
	                width             : calc(((17px / 12 ) * 5));
	                height            : 17px;
	                z-index           : 1;
                }


                label.checkbox input[type="checkbox"] {
	                -moz-appearance: none;
	                -webkit-appearance: none;
	                position   : absolute;
	                z-index    : 2;
	                margin     : 0px;
	                width      : 20px;
	                height     : 20px;
	                box-sizing    : border-box;
	                outline       : none;
                    left       : calc(20px * -1);
	                padding    : 0;
                    box-shadow : 20px 0px #FFF;
                }


                label.checkbox input[type="checkbox"]:checked {
	                box-shadow : none;
                }
               
    // checkbox css //           
               
            }
        }
        
        #pq_add {
            display: flex;
            padding-bottom: 0;
            border-bottom: 1px solid $subColor2;
            
           
            
            table {
                margin-bottom: 0;
                width: 60%;
               
                tr {
                    border-top: 1px solid $subColor2;
                
                td {
                    border-bottom: 0;
                    padding: 15px 0;
                    @include fontsize(14);
                    color: red;
                    font-style: italic;
                    
                    #red {
                        @include fontsize(24);
                    }
                    #taxin {
                        color: black;
                    }
                }
                }
                
                .space {
                    padding-right: 10%;
                }
                
                #input {
                    width: 50%;
                    padding: 0;
                    border-radius : 0;
                    color: $subColor2;
                    margin-bottom: 0;
                }
            }
            
            #add {
                padding-left: 20px;
                max-width: 40%;
            }
        }
        
        
        @media (max-width: 415px) {
        #pq_add {
            border-bottom: 0;
            display: block;
            table {
                width: 100%;
                border-bottom : 1px solid $subColor2;
                margin-bottom: 15px;
            }
            #add {
                text-align: center;
                max-width: 100%;
                padding-left: 0;
            }
        }
        }
        
        
        
        #ex_outer {
            padding-top: 30px;
            h3 {
                @include fontsize(19);
                color: $subColor;
                font-weight: bold;
                padding-bottom: 18px;
                border-bottom: 1px solid black;
            }
            h4 {
                @include fontsize(19);
                color: $subColor;
                font-weight: bold;
            }
            p {
                @include fontsize(16);
                color: black;
            }
            table {
                @include fontsize(14);
                color: $subColor;
                width: 100%;
                td {
                    border: 1px solid $subColor2;
                }
                td:first-child {
                    padding: 0 30px;
                    background-color: $baseColor;
                    text-align: center;
                }
            }
            
                
        }
        
    }
}


@media (max-width: 415px) {
    
    #products {
        width: 100%;
    }
    
    #pan, #recent, #guide, #sidebar_p{
        width: 90%;
        margin: 0 auto;
    }
    #pan {
        margin-bottom: 10px;
    }
}

