html {
  font-size: 62.5%;
  background-color: #f9f8f6; }

#header_in {
  padding-top: 35px; }
  #header_in .row {
    margin-bottom: 20px; }
    #header_in .row h1 {
      margin-bottom: 0px; }
      @media (max-width: 415px) {
        #header_in .row h1 {
          text-align: center; } }
    #header_in .row #sp_navi {
      font-size: 0;
      line-height: 0; }
      @media (min-width: 415px) {
        #header_in .row #sp_navi {
          display: none; } }
      #header_in .row #sp_navi .sp_top {
        list-style: none;
        margin-bottom: 0;
        text-align: center; }
        #header_in .row #sp_navi .sp_top .icon {
          margin: 6px;
          display: inline-block;
          top: 0; }
          #header_in .row #sp_navi .sp_top .icon .sp_menu {
            position: absolute;
            z-index: 100;
            margin: 0;
            display: none; }
            #header_in .row #sp_navi .sp_top .icon .sp_menu li {
              text-align: left;
              background-color: white;
              padding: 1px;
              margin-bottom: 2px; }
    @media (max-width: 415px) {
      #header_in .row #pc_navi {
        display: none; } }
    #header_in .row #pc_navi ul {
      display: flex;
      flex-direction: row;
      float: right;
      list-style: none;
      margin-top: 28px;
      margin-bottom: 0px; }
      #header_in .row #pc_navi ul::after {
        content: '';
        display: block;
        clear: both; }
      #header_in .row #pc_navi ul li {
        padding-left: 20px; }

.flexible-images {
  max-width: 100%;
  height: auto; }

div .label_sp {
  text-align: center;
  padding: 16px; }
  @media (min-width: 415px) {
    div .label_sp {
      display: none; } }
div .label_pc {
  margin: 20px 0; }
  @media (max-width: 415px) {
    div .label_pc {
      display: none; } }
div .flex_wrap {
  display: flex;
  flex-wrap: wrap; }
  div .flex_wrap .item_container {
    width: 49.0%;
    background-color: white;
    margin: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    div .flex_wrap .item_container a {
      text-decoration: none;
      color: black; }
    @media (min-width: 415px) {
      div .flex_wrap .item_container {
        width: 32.9%; } }
    div .flex_wrap .item_container .inner {
      padding: 12px; }
      div .flex_wrap .item_container .inner p {
        font-size: 10px;
        font-size: 1rem;
        margin-bottom: 3px; }
        div .flex_wrap .item_container .inner p span {
          font-size: 15px;
          font-size: 1.5rem; }
  div .flex_wrap .box {
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 415px) {
      div .flex_wrap .box {
        width: 49.3%;
        margin: 0 2px;
        margin-bottom: 90px; } }
    div .flex_wrap .box .inner_box {
      padding: 15px; }
      div .flex_wrap .box .inner_box h2 {
        color: #887f69;
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px; }
      div .flex_wrap .box .inner_box h3 {
        color: #887f69;
        font-size: 10px;
        font-size: 1rem;
        font-weight: bold;
        margin: 5px 0; }
      div .flex_wrap .box .inner_box p {
        font-size: 10px;
        font-size: 1rem;
        margin: 5px 0 10px; }

#sidebar .serch {
  background-color: white;
  height: 55px;
  padding: 18px;
  margin-bottom: 20px; }
  @media (min-width: 415px) {
    #sidebar .serch {
      margin-bottom: 10px; } }
  #sidebar .serch img {
    padding-bottom: 10px; }
  #sidebar .serch #form2 {
    position: relative; }
  #sidebar .serch #sbox2 {
    height: 30px;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
    background-color: #e9e9e9;
    font-style: italic;
    outline: 0; }
  #sidebar .serch #sbtn2 {
    height: 50px;
    position: absolute;
    right: 10px;
    top: 0;
    background: none;
    color: #666;
    border: none;
    font-size: 20px;
    outline: 0;
    margin: 0;
    padding: 0;
    z-index: 999; }
  #sidebar .serch #sbtn5:hover {
    color: #7fbfff; }
#sidebar .page_link {
  background-color: #887f69;
  color: white;
  height: 45px;
  margin-bottom: 9px; }
  #sidebar .page_link a {
    text-decoration: none;
    color: white; }
    #sidebar .page_link a .link_inner {
      padding: 12px 10px; }
      #sidebar .page_link a .link_inner p {
        display: inline;
        font-size: 11px;
        font-size: 1.1rem;
        font-weight: bold; }
      #sidebar .page_link a .link_inner img {
        display: block;
        float: right;
        padding-right: 10px;
        padding-top: 7px; }
        #sidebar .page_link a .link_inner img::after {
          content: '';
          display: block;
          clear: both; }
#sidebar .categories_box {
  margin-bottom: 9px; }
  #sidebar .categories_box #categories-logo {
    background-color: #887f69;
    height: 45px; }
    #sidebar .categories_box #categories-logo .inner {
      padding: 12px 10px; }
      #sidebar .categories_box #categories-logo .inner .arrow {
        display: block;
        float: right;
        padding-right: 10px;
        margin-top: 8px; }
        #sidebar .categories_box #categories-logo .inner .arrow::after {
          content: '';
          display: block;
          clear: both; }
  #sidebar .categories_box .categories_navi {
    display: none; }
    #sidebar .categories_box .categories_navi li {
      list-style: none;
      height: 45px; }
      #sidebar .categories_box .categories_navi li a {
        display: block;
        text-decoration: none;
        background-color: white;
        font-size: 11px;
        font-size: 1.1rem;
        padding: 17px 10px;
        margin-bottom: 1px;
        color: black; }
        #sidebar .categories_box .categories_navi li a p {
          display: inline; }
        #sidebar .categories_box .categories_navi li a img {
          display: block;
          float: right;
          padding-right: 10px;
          padding-top: 2px; }
          #sidebar .categories_box .categories_navi li a img::after {
            content: '';
            display: block;
            clear: both; }
#sidebar .side_title {
  background-color: #887f69;
  height: 45px;
  padding-left: 10px; }
  #sidebar .side_title img {
    padding-top: 18px;
    padding-bottom: 18px; }
#sidebar .side_p_box_sp {
  display: flex;
  background-color: white;
  margin-bottom: 9px; }
  @media (min-width: 415px) {
    #sidebar .side_p_box_sp {
      display: none; } }
  #sidebar .side_p_box_sp .inner1 {
    width: 45%;
    padding: 10px;
    padding-right: 5px; }
  #sidebar .side_p_box_sp .inner2 {
    width: 45%;
    padding: 10px;
    padding-left: 5px; }
    #sidebar .side_p_box_sp .inner2 p {
      font-size: 10px;
      font-size: 1rem; }
#sidebar .side_p_box {
  background-color: white;
  margin-bottom: 10px; }
  @media (max-width: 415px) {
    #sidebar .side_p_box {
      display: none; } }
  #sidebar .side_p_box .inner {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 10px;
    font-size: 1rem; }
    #sidebar .side_p_box .inner .more {
      display: block;
      margin: 0px auto; }

#page_top {
  border-bottom: 1px black solid; }
  #page_top a {
    display: block;
    text-align: center;
    padding: 20px 0px; }
    @media (min-width: 415px) {
      #page_top a {
        text-align: right; } }

footer .container .footer_box {
  width: 50%;
  margin: 35px auto 150px; }
  @media (max-width: 415px) {
    footer .container .footer_box {
      width: 95%; } }
  footer .container .footer_box ul {
    list-style: none;
    text-align: center; }
    footer .container .footer_box ul li {
      display: inline-block;
      margin-bottom: 0;
      font-size: 10px;
      font-size: 1rem; }
    footer .container .footer_box ul a {
      text-decoration: none;
      color: black; }
  footer .container .footer_box p {
    font-size: 8px;
    font-size: 0.8rem;
    color: #b0b0b0;
    text-align: center; }

#pan {
  background-color: #e8e4da;
  padding: 10px;
  margin-bottom: 8px; }
  #pan .pan_font {
    list-style: none;
    font-size: 7px;
    font-size: 0.7rem;
    margin-bottom: 0; }
    #pan .pan_font li {
      display: inline;
      color: #887f69; }
      #pan .pan_font li a {
        text-decoration: none;
        color: #887f69; }

#back_next {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  #back_next p {
    display: inline-block;
    background-color: #887f69;
    width: 20%;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 0; }
    @media (max-width: 415px) {
      #back_next p {
        width: 35%; } }
  #back_next #next {
    margin-right: 2px; }

.products_outer {
  background-color: white;
  padding: 20px; }
  @media (min-width: 415px) {
    .products_outer {
      padding: 60px; } }
  .products_outer .inner h2 {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin-bottom: 1rem; }
  .products_outer .inner p {
    font-size: 9px;
    font-size: 0.9rem;
    color: #b0b0b0;
    margin-bottom: 2rem; }
  @media (min-width: 415px) {
    .products_outer .inner #p_name {
      display: flex;
      justify-content: space-between;
      height: 50px; }
      .products_outer .inner #p_name h2 {
        font-size: 12px;
        font-size: 1.2rem; } }
  .products_outer .inner #image_box {
    border-top: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4;
    padding: 10px; }
    .products_outer .inner #image_box #main {
      width: 100%; }
    .products_outer .inner #image_box .sub {
      display: block;
      width: 100%; }
      .products_outer .inner #image_box .sub img {
        max-width: 19%;
        height: auto;
        margin-bottom: 0px; }
  @media (min-width: 415px) {
    .products_outer .inner #image_box {
      display: flex;
      padding: 20px 0;
      border-top: 1px solid #e2ddd4;
      border-bottom: 1px solid #e2ddd4; }
      .products_outer .inner #image_box #main {
        width: 70%;
        margin-right: 8px; }
      .products_outer .inner #image_box .sub {
        width: 29.5%; }
        .products_outer .inner #image_box .sub img {
          max-width: 44.5%;
          height: auto;
          margin-bottom: 0; } }
  .products_outer .inner #color_box {
    padding: 15px 0; }
    .products_outer .inner #color_box p {
      margin-bottom: 15px; }
    .products_outer .inner #color_box table {
      font-size: 10px;
      font-size: 1rem;
      color: #887f69;
      width: 100%; }
      .products_outer .inner #color_box table td {
        border: 1px solid #e2ddd4;
        text-align: center; }
      .products_outer .inner #color_box table .gray {
        background-color: #f9f8f6; }
      .products_outer .inner #color_box table label.checkbox {
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        border: 1px solid #e2ddd4;
        background: #fff;
        margin-bottom: 0; }
      .products_outer .inner #color_box table label.checkbox:after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        border-right: 2px solid #887f69;
        border-bottom: 2px solid #887f69;
        top: calc(50% - (((17px / 12 ) * 5) / 2));
        display: block;
        margin-top: calc(((17px / 12 ) * 5) * -1);
        width: calc(((17px / 12 ) * 5));
        height: 17px;
        z-index: 1; }
      .products_outer .inner #color_box table label.checkbox input[type="checkbox"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        z-index: 2;
        margin: 0px;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        outline: none;
        left: calc(20px * -1);
        padding: 0;
        box-shadow: 20px 0px #FFF; }
      .products_outer .inner #color_box table label.checkbox input[type="checkbox"]:checked {
        box-shadow: none; }
  .products_outer .inner #pq_add {
    display: flex;
    padding-bottom: 0;
    border-bottom: 1px solid #e2ddd4; }
    .products_outer .inner #pq_add table {
      margin-bottom: 0;
      width: 60%; }
      .products_outer .inner #pq_add table tr {
        border-top: 1px solid #e2ddd4; }
        .products_outer .inner #pq_add table tr td {
          border-bottom: 0;
          padding: 15px 0;
          font-size: 10px;
          font-size: 1rem;
          color: red;
          font-style: italic; }
          .products_outer .inner #pq_add table tr td #red {
            font-size: 20px;
            font-size: 2rem; }
          .products_outer .inner #pq_add table tr td #taxin {
            color: black; }
      .products_outer .inner #pq_add table .space {
        padding-right: 10%; }
      .products_outer .inner #pq_add table #input {
        width: 50%;
        padding: 0;
        border-radius: 0;
        color: #e2ddd4;
        margin-bottom: 0; }
    .products_outer .inner #pq_add #add {
      padding-left: 20px;
      max-width: 40%; }
  @media (max-width: 415px) {
    .products_outer .inner #pq_add {
      border-bottom: 0;
      display: block; }
      .products_outer .inner #pq_add table {
        width: 100%;
        border-bottom: 1px solid #e2ddd4;
        margin-bottom: 15px; }
      .products_outer .inner #pq_add #add {
        text-align: center;
        max-width: 100%;
        padding-left: 0; } }
  .products_outer .inner #ex_outer {
    padding-top: 30px; }
    .products_outer .inner #ex_outer h3 {
      font-size: 15px;
      font-size: 1.5rem;
      color: #887f69;
      font-weight: bold;
      padding-bottom: 18px;
      border-bottom: 1px solid black; }
    .products_outer .inner #ex_outer h4 {
      font-size: 15px;
      font-size: 1.5rem;
      color: #887f69;
      font-weight: bold; }
    .products_outer .inner #ex_outer p {
      font-size: 12px;
      font-size: 1.2rem;
      color: black; }
    .products_outer .inner #ex_outer table {
      font-size: 10px;
      font-size: 1rem;
      color: #887f69;
      width: 100%; }
      .products_outer .inner #ex_outer table td {
        border: 1px solid #e2ddd4; }
      .products_outer .inner #ex_outer table td:first-child {
        padding: 0 30px;
        background-color: #f9f8f6;
        text-align: center; }

@media (max-width: 415px) {
  #products {
    width: 100%; }

  #pan, #recent, #guide, #sidebar_p {
    width: 90%;
    margin: 0 auto; }

  #pan {
    margin-bottom: 10px; } }

/*# sourceMappingURL=stylesheet.css.map */
